@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #111;
}

.addArticle-section{
 width: 100%;
 min-height: 100vh;
 background: rgb(163, 159, 159);
 display: flex;
 justify-items: center;
 align-items: center;
}
.add-article{
max-width: 100%;
width: 70%;
margin-right: 50px;
align-self:center;
justify-self: center;
margin: 0 auto;
}
.add-article h2{
    color: #f1f1f1;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.add-article .text-box{
    background: #fff;
    color: #000;
    border: none;
    width:100%;
    align-content: center;
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9
}
.add-article .text-box:first-child{
    margin-right: 15px;
}
.add-article textarea{
    background: #fff;;
    color: #000;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}
.add-article .send-btn{
    float:right;
    background: #000;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    align-content: center;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.add-article.send-btn:hover{
    background: #0582e3;
}
.add-articlexxxv{
    display: flex;
    flex-direction: column;

}
footer {
    background-color: #333333;
    padding: 20px;
    margin-top: 20px;
  }
  
  .rog .descr ol li a {
    text-decoration: none;
  }
  
  .skills {
    width: 500px;
    margin: 50px auto 0;
    padding: 20px;
  }
  
  .rog .lang {
    margin-top: 50px;
  }
  
  .rog .descr {
    margin-top: 30px;
  }
  
  #Contact .icons ul li {
    display: inline;
    text-align: center;
    padding: 10px;
  }
  
  .icons {
    text-align: center;
    margin: 10px 0;
  }
  
  .fas {
    color: white;
  }
  
  .fas:hover {
    color: #bf4080;
  }
  
  .fab {
    color: white;
  }
  
  .fab:hover {
    color: #bf4080;
  }
  
  .Copyright {
    text-align: center;
    color: white;
    border-top: #595959 solid 1px;
  }


