@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #000;
    font-size: 15px;
    line-height: 1.5;

}
a{
    color: #262626;
    text-decoration:none;
}
ul{
list-style: none;
}  

.container{
    width: 90%;
   max-width: 1100px;
    margin: auto;
}
/*Nav*/
.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding:20px 0;
    font-size: 13px;
}
.main-nav.logo{
    width: 60px;
    height: 100%;
}
.main-nav ul{
    display: flex;
}
.main-nav ul li{
    padding: 0 10px;
}
.main-nav ul li a{
    padding-bottom: 2px; 
}
.main-nav ul li a:hover{
    border-bottom: 2px solid #262626;
    
}
.main-nav ul.main-menu{
    flex:1;
    margin-left: 20px;   
}
.menu-btn{
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 2;
    display: none;
}
.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #1f1111;
    color: #000;
    font-size: 15px;
}
.btn:hover{
    opacity: 0.9;
}
.add-comment{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 18px;

}
textarea{
    margin-top: 20px;
    padding: 18px;
}

button{
    background: #000000;
}
.article h3{

    margin-bottom: 20px;
    color: #000;
    justify-content: flex-start;
    margin-top: 20px;
  
}
.article p{
  margin-top: 30px;
    justify-content: flex-start;
    line-height: 1.5em;
    font-size: 25px;
    padding: 18px;
    margin-bottom: 30px;
}
.read-article img{
   
    width: 700px;
    height: 300px;


}

.comment-section{
    width: 100%;
 min-height: 100vh;
 background: #fff;
 background-size: cover;
 display: flex;
 justify-items: center;
 align-items: center;
}
.contact-info{
    color: #000000;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}
.contact-info i{
    margin-right: 20px;
    font-size: 25px;
}
.comment-form{
max-width: 700px;
margin-right: 50px;
}
.contact-info .comment-form{
    flex: 1;
}
.comment-form h2{
    color: #000;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.comment-form .text-box{
    background: rgb(248, 246, 246);
    color: #000;
    border: none;
    width: calc(50%-10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(250, 247, 247, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}
.comment-form .text-box:first-child{
    margin-right: 15px;
}
.comment-form textarea{
    background: rgb(248, 246, 246);
    color: #000;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(250, 248, 248, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}
.comment-form.send-btn{
    float:right;
    background: #f9f9fa;
    color: #000;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
}
.comment-form.send-btn:hover{
    background: #0582e3;
}
.indivudual-comments{
    padding: 12px;


}





/* Sign Up */
.login{
    margin: 0;
    padding: 0;
    background-image: url(../images/login.jpg);
    background-size: cover;
    background-position: center;
}
.sign-up-form{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}
.sign-up-form h1{
    color: #1c8adb;
    margin-bottom: 30px;
}
.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
button{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.signup-btn{

    background-color: #1c8adb;
}
.twitter-btn{
    background-color: #21afde;
}
a{
    text-decoration: none;
}
hr{
    margin-top: 20px;
    width: 80%;
}
.or{
    background: #fff;
    width: 30px;
    margin: -19px auto 10px;
}
img{
 width: 70px;
} 

.upload-image img{
    width: 50%;
}

/* Folow */
.follow{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0 30px;

}
.follow *{
    margin-right: 10px;
    margin-top: 20px;
}

/* Links*/
.links{
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}
.links-inner{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap :10px;
    align-items: flex-start ;
    justify-content: center;
}
.links li{
    line-height: 2.8;
}
/* Footer*/
.footer{
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
}
.footer-inner{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}
.footer div{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.footer div i{
    margin-right: 10px;
}
.footer ul{
    display: flex;
    flex-wrap: wrap;
}
.footer li{
margin-right: 30px;
margin-bottom: 20px;
}
@media(max-width: 700px){
    .menu-btn{
        display: block;
    }
    .menu-btn:hover{
        opacity: 0.5;
    }
    .main-nav ul.right-menu{
        margin-right: 50px;
    }
    .main-nav ul.main-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #f2f2f2;
        width: 50%;
        height: 100%;
        border-right:#ccc 1px solid ;
        opacity: 0.9;
        padding: 30px;
        transform: translateX(-500px);
      transition: transform 0.5s ease-in-out;

    }
    .main-nav ul.main-menu li{
        padding: 10px;
        border-bottom: #ccc solid 1px;
        font-size: 14px;
    }
    .main-nav ul.main-menu li:last-child{
border-bottom: 0;
    }
    
    .main-nav ul.main-menu.show{
        transform: translateX(-20px);
    }
    .skills .Projects{
        grid-template-columns: repeat(2,1fr);
        width: 100%;
    }
    .xbox .content p {
        display: none;
    }
    .xbox .content h2{
        margin-bottom: 20px;
    }
    .carbon .content{
        width: 85%;
    }
    .links .links-inner{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:500px){
    .skills .Projects{
        width: 100%;
        grid-template-columns: 1fr;
    
    }
    .links .links-inner{
        grid-template-columns: 1fr;
    }
    .links .links-inner ul{
        margin-bottom: 20px;
    }
}
@media screen and (max-width:950px){
    .comment-section{
        flex-direction: column;
    }
    .contact-info, .comment-form{
        margin: 30px 50px;
    }
    .comment-form h2{
font-size: 30px;
    }
    .comment-form .text-box{
        width: 100%;
    }
}
.alert-success{
    z-index: 1;
    background: #d4edd1;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #3ad66e;
 border-radius: 4px ;
}
.alert-error{
    z-index: 1;
    background: #fff3cd;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #ffa502;
 border-radius: 4px ;
}
/*responsive */
@media(max-width:800px){
    .left-column, .right-column{
        width: 100%;
        padding: 0px;
    }
}