@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
* {
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}
/*Nav*/
.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav .logo {
  width: 60px;
  height: 30px;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4caf50;
  color: white;
}

.topnav .icon {
  display: none;
}
.topnav .logo {
  width: 60px;
  height: 30px;
}
/* Showcae*/
.showcase {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 30px;
}
.showcase h2,
.showcase p {
  margin-bottom: 10px;
  color: #000;
}
.showcase img {
  width: 300px;
  border-radius: 50%;
}
.showcase .btn {
  margin-top: 20px;
}
.dark {
  color: #fff;
}
.dark.btn {
  background: #f4f4f4;
  color: #333;
}
.header {
  position: absolute;
  height: 44px;
  width: 78%;
  background-color: #999;
  z-index: 4;
}
.side-nav {
  position: absolute;
  width: 100%;
  background-color: #666;
  height: 100vh;
  z-index: 3;
  padding-top: 44px;
}
.side-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.side-nav ul li {
  padding: 20px 10px;
  border-bottom: 1px solid #333;
}
.side-nav ul li a {
  color: #fff;
  text-decoration: none;
}
.side-nav ul li a i {
  color: #333333;
}
.main-content {
  padding: 44px;
}
.main-content h1 {
  text-align: center;
  text-transform: uppercase;
}
.articles {
  width: 60%;
  margin-left: 250px;
  margin-right: 250px;
  padding-right: 20px;
}
.personalArticles {
  margin-top: 20px;
  color: black;
  background: darkgrey;
  display: flex;
  border: 1px solid black;
  padding: 20px;
  font-size: 25px;
  width: 100%;
  font-size: 1em;
  /* margin-top: 56px; */
  /* margin-left: 780px; */
}
.personalArticles img {
  align-self: flex-start;
  width: 150px;
  height: 100px;
}
a {
  color: #000;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}
span {
  padding: 15px;
}
button {
  display: inline;
  padding: 8px;
  margin: 8px;
  background: grey;
  color: white;
  align-items: flex-end;
}
.logout {
  color: rgb(250, 249, 249);
  cursor: pointer;
  padding: 10px;
}
.actionBlock {
  background-color: grey;
}
.modify {
  /* width: 50px;
  height: 30px;
  background-color: white;
  color: black;
  text-align: center; */
}
@media screen and (max-width: 600px) {
  .side-nav a:not(:first-child) {
    display: none;
  }
  .side-nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .side-nav.responsive {
    position: relative;
  }
  .side-nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .side-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
@media screen and (max-width: 480px) {
  .side-nav {
    width: 40px;
  }
  .side-nav ul li {
    text-align: center;
  }
  .side-nav ul li span:nth-child(2) {
    display: none;
  }
  .side-nav ul li i {
    font-size: 26px;
  }
  .main-content {
    margin-left: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .side-nav {
    width: 200px;
  }
  .side-nav ul li {
    text-align: left;
  }
  .side-nav ul li span:nth-child(2) {
    display: inline;
  }
  .side-nav ul li i {
    font-size: 16px;
  }
  .main-content {
    margin-left: 200px;
  }