/*fonts*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");
/**/

.clear {
  clear: both !important;
  float: none !important;
  margin: 0px !important;
  padding: 0px !important;
  height: 0px !important;
  width: 0px !important;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}

img {
  display: block;
}

.oldBrowser {
  display: none !important;
}
.center {
  width: 960px;
  margin: 0 auto;
  text-align: left;
  position: relative;
}
.inner-center {
  padding: 0 10px;
}
body {
  background: #f3f4f5;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #333333;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #000;
}
.brand-icon {
  color: #ffffff;
  font-weight: bold;
}

.box-right {
  float: right;
}
button,
input[type="submit"] {
  background: none;
  border: none;
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0; */
}

.header-controlMenuButton svg {
  fill: #ffffff;
}

#hit-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  width: 20px;
  height: 100%;
  background-color: transparent;
  display: none;
}

/*HEADER*/
#header {
  position: fixed;
  height: 110px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
.header-topo {
  background-color: #050706;
  height: 60px;
  position: relative;
}

#header .brand-icon {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 80px;
  height: 24px;
  margin: -12px -40px 0 0;
}
.header-controlMenuButton {
  position: absolute;
  left: 200px;
  height: 60px;
  width: 60px;
  background-color: #050706;
  text-align: center;
  cursor: pointer;
}
.header-controlMenuButton .spt {
  display: inline-block;
}
.header-controlMenuButton:hover {
  background-color: #171817;
}

.header-menu {
  height: 50px;
}
#header .menu-modulos {
  float: left;
  width: 100%;
  height: 50px;
}
#header .menu-modulos .menu-modulosInner {
  padding: 0 120px 0 280px;
}
#header .menu-modulos .menu-modulosWrapper {
  overflow-x: scroll;
}
#header .menu-modulos .menu-modulosBt {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  margin: 0 5px;
}
#header .menu-modulos .menu-modulosBt-mainBt {
  display: block;
  font-weight: normal;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  color: #848484;
}
#header .menu-modulos .menu-modulosFeed {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 2px;
  left: 0;
  display: none;
  background-color: #141414;
}
#header .menu-modulos .menu-modulosBt:hover .menu-modulosFeed {
  display: block;
}
#header .menu-modulos .menu-modulosBt:hover .menu-modulosBt-mainBt {
  color: #333333;
}

.header-nomeEmpresa {
  margin: 17px 0 0 20px;
  float: left;
  color: #ffffff;
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
}
.header-nomeEmpresa_mobile {
  margin: 20px 0 0 5px;
  display: none;
}

.button-menu-mobile {
  height: 80px;
  display: none;
  opacity: 0;
  cursor: pointer;
}
.button-menu-mobile {
  height: 60px;
  float: left;
  width: 40px;
  margin-left: 10px;
  display: none;
}
.button-menu-mobile .box-stripes {
  position: relative;
  width: 20px;
}
.button-menu-mobile span {
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  height: 2px;
  top: 0;
}
#header .stripe-top {
  margin-top: -6px;
}
#header .stripe-bottom {
  margin-top: 6px;
}

/*MENU*/
#menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 100;
  background-color: #ffffff;
  width: 260px;
}
#menu .menu-wrapper-inner {
  padding-top: 20px;
}
#menu .menu-wrapper {
  position: relative;
  overflow-x: hidden;
}
#menu .menu {
  width: 260px;
  float: left;
}
#menu .menu-item {
  position: relative;
}
#menu .menu-item:hover {
  background-color: #fafafa;
}
#menu .menu-item a {
  padding: 15px 30px;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #333333;
  display: block;
}
#menu .menu-item .spt {
  position: absolute;
  right: 25px;
  top: 50%;
  margin-top: -5px;
}
#menu .menu-slider {
  position: relative;
  width: 2000px;
  left: 0;
}

.menu-box {
  overflow: auto;
  position: relative;
  height: 100%;
}

/*menu fechado*/

/********/
#conteudo {
  width: 100%;
  position: relative;
}
#conteudo .conteudo-inner {
  padding: 110px 0 0 260px;
}
#conteudo .conteudo-wrapper {
  padding: 40px;
}
#conteudo .conteudo-box {
  background-color: #ffffff;
  border-bottom: 1px solid #e4e5e6;
  /* -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.1);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px; */
}

#conteudo .conteudo-title {
  font-size: 24px;
  line-height: 28px;
  color: #008658;
  font-weight: 300;
  margin-bottom: 5px;
  display: block;
}
#conteudo .conteudo-titleSection {
  margin-bottom: 15px;
}
#conteudo .breadcrumb-link {
  color: #929394;
  display: inline-block;
  font-size: 14px;
}
#conteudo .breadcrumb-separator {
  display: inline-block;
}
#conteudo .breadcrumb-link_ativo {
  color: #afb0b1;
}
#conteudo .conteudo-boxInner {
  padding: 20px 20px 100px 20px;
}

.button-actions {
  position: fixed;
  bottom: 0;
  right: 40px;
  cursor: pointer;
}

.main-content {
  padding: 44px;
}
.main-content h1 {
  text-align: center;
  text-transform: uppercase;
}
.articles {
  width: 60%;
}
.personalArticles {
  margin-top: 20px;
  color: black;
  background: darkgrey;
  display: flex;
  border: 1px solid black;
  padding: 20px;
  font-size: 25px;
  width: 100%;
  font-size: 1em;
}
.personalArticles img {
  align-self: flex-start;
  width: 150px;
  height: 100px;
}

@media screen and (max-width: 768px) {
  #header .brand-icon {
    right: 0;
    margin-right: 20px;
  }
  #header .menu-modulos .menu-modulosWrapper {
    margin-left: 0 !important;
  }

  #hit-menu {
    display: block;
  }
  #header .button-menu-mobile {
    display: block;
    opacity: 1;
  }
  #header .menu-modulos .menu-modulosInner {
    padding: 0;
  }

  #conteudo .conteudo-inner {
    padding-left: 0 !important;
  }

  #conteudo .conteudo-wrapper {
    padding: 20px 10px;
  }

  .articles {
    width: 90%;
  }

  .personalArticles {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .personalArticles img {
    display: flex;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
  }
}

/****************************/
/*RESPOSIVE*/
/****************************/

.resp-box {
  float: left;
  width: 100%;
}

.col-1 {
  width: 100%;
}

/*--------------	Media queries	------------------*/
/*
	* < 568px
*/
@media screen and (max-width: 568px) {
  .personalArticles {
    display: flex;
    flex-direction: column;
    width: 50vw;
  }
  .personalArticles img {
    display: flex;
    height: 100%;
    width: 50vw;
  }

  .personalArticles .responsive a {
    width: 100%;
    position: relative;
  }
  .conteudo-boxInner {
    width: 100%;
  }
}

/*
	* > 568px e < 768
*/
@media (min-width: 568px) and (max-width: 768px) {
  .personalArticles img {
    height: 100%;
    width: 100vw;
  }

  .personalArticles .responsive a {
    width: 100%;
    position: relative;
  }
  h1 {
    text-align: center;
  }
}
